extend header.pug

block content
	div(class="main")
		h3 All products
		ul
			if products.length > 0
				each product in products
					li
						a(href="/products/"+product._id)
							h4= product.name
						p Price: $#{product.price}
						p In stock: #{product.stock}
						a(href="/reviews/"+product._id)
							p Reviews
						form(class="order-form")
							input(type="text" name="product_id" value=product._id hidden)
							input(type="text" name="product_name" value=product.name hidden)
							input(type="number" name="price" value=product.price hidden)
							label(for="quantity") Quantity: 
							input(type="number" name="quantity" min=1 max=product.stock)
							button(type="submit") Add to cart
					hr
			else
				p No products found!